*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container1{

  display:flex;
  border: 2px solid purple;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar1{
  background: #083671;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  border: 2px solid yellow;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
  border: 2px solid green;
}
.logo1{
  font-size: 30px;
}
.bars1{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  display: inline-block;
  font-size: 15px;
  color: #fff;
}
.link {
  text-decoration: none;
}

.sidebar1 {
  display: flex;
  flex-direction: column;
  height: 93vh; 
}


#btnimage2 {
  position: absolute;
  bottom: 0;
}
.dashboard
{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 1px solid fuchsia;
  background-color:rgba(195, 222, 240, 0.205);
}
.remaindercard
{
  width: 30%;
  margin-top:9%;
}
.line {
  border: 0; 
  border-top: 1px solid grey; 
  margin: 10px 0; 
}
.remaindericon
{
  display: inline;
  margin-right: 10px;
}
.moodstats
{ 
  border:1px solid darkgoldenrod;
  width: 30%;
  margin-top:9%;
}
.announcements
{
  border: 1px solid gray;
  width: 30%;
  margin-top:9%;
}