body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    border: 1px solid black;
    background-color:white;
    color: #fff;
    padding: 10px 20px;
    height: 55px;
    position: fixed;

  }
  #nav-p11
  {
    font-size: 11px; 
    font-weight: 350; 
    font-family: sans-serif;
    margin-top: 0;
    color: grey;
    margin-bottom: 0;
    margin-left: 16px;
  }

  #img1
  {
    position: absolute;
    left: 4%;
    top: 20%;
    height: 24px;
    width: 155px;
    margin-top: 0;
  }
.navbar .nav-link:active {
    background-color: #f0f0f0; 
    color: #333; 
  }
  
  .navbar .dropdown-menu a:active {
    background-color: #f0f0f0; 
    color: #333; 
  }
  #img2
  {
    position: absolute;
    left: -50px;
    top: -15%;
    height: 20px;
    width: 23px;
    margin-top: 0;
  }
#img3
{
    position: absolute;
    left: -25px;
    top: -65%;
    height: 35px;
    width: 50px;
    margin-top: 0;
}
.navbar .nav-link.dropdown-toggle::after{
    display:none;
}

.navbar .dropdown-item::before {
    display: none;
}
 
.custom-nav {
    display: flex;
    align-items: center;
  }
  
  .custom-dropdown {
    display: flex;
    flex-direction: row;
    max-height: 280px;
    overflow-y: auto;
  }
  
  .custom-dropdown .dropdown-item {
    padding: 0.5rem 1rem;
  }
  
  .action-icon {
    width: 40px; 
    height: 40px; 
    margin-right: 8px;
    margin-left: 10px; 
    margin-top: 0;
  }
  #nav-p
  {
    font-size: 11px; 
    font-weight: 350; 
    font-family: sans-serif;
    margin-top: 0;
    color: grey;
    margin-bottom: 0;
    margin-right: 0;
  }
  #nav-p1
  {
    font-size: 11px; 
    font-weight: 350; 
    font-family: sans-serif;
    margin-top: 0;
    color: grey;
    margin-bottom: 0;
    margin-left: 12px;
  }

.custom-dropdown::-webkit-scrollbar {
    width: 5px; 
  }
  
  .custom-dropdown::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 4px;
  }
  
  .custom-dropdown::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); 
  }
  
  .dropimg2
  {
    height:20px;
    width: 75px;
  }