.signupbody
{
    background-image: url('./images/arbisoftsignup.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    
}
.signup {
    max-width: 380px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:100px;
  }
  .signup img{
    margin-top: 6px;
    height: 100px;
    width: 170px;
    margin-left: 24%;
  }
  .signup h4 {
    color: #0056b3;
    margin-top: 7px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  #signupemail,#signupname,#signuppassword {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #signupbtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  